<aside class="sidebar">

  <div class="profile">

    <img
      src="{{ '/assets/images/profile.jpg' | relative_url }}"
      alt="William Jugue"
      class="profile-photo">

    <h2>William Jugue</h2>

    <p class="profession">
      Aspirante a Analista de Dados
    </p>
    <p class="location">
    📍 São Paulo - SP
    </p>
  </div>

  <nav class="sidebar-nav">

    <a href="{{ '/' | relative_url }}">Home</a>

    <a href="{{ '/about/' | relative_url }}">
      Curriculum Vitae
    </a>

    <a href="{{ '/projects/' | relative_url }}">
      Projetos educacionais e profissionais
    </a>

    <a href="{{ '/contact/' | relative_url }}">
      Contato e serviços
    </a>

  </nav>

  <div class="social-links">

    <a href="https://www.linkedin.com/in/william-toshio-watanabe-jugue-9733893aa/">LinkedIn</a>

    <a href="https://github.com/williamjugue">GitHub</a>

  </div>

</aside>